.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora{
    border: solid black 1px;
    display: grid;
    grid-template-columns: repeat(4, 75px); 
    /*grid-template-rows: repeat(3, 75px);*/
    background-color: rgb(44, 98, 116);
    padding: 20px;
    border-radius: 25px;
    box-shadow: 10px 5px 2px 1px black;
}


.pantalla{
    background-color: lightgoldenrodyellow;
    border: solid 1px;
    margin-bottom: 10px;
    padding: 2px;
    text-align: right;
    grid-column: span 4;
    height: 20px;
    
}

.cabecera{
    text-align: center;
    font-size: 30px;
}

.boton{
    margin: 3px;
    border-radius: 7px;
    background-color: rgb(121, 207, 236);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 1px 1px 2px 1px rgb(82, 149, 172);;
}

button:hover{
    background-color: aqua;
}